color_gray     = #717171
color_gray_info = #535b19
color_darkgray = #2B2B2B
color_blue     = #91CAE5
color_green    = #d4e245
color_orange   = #EF9D49
color_purple   = #9C7BC9

.theme-random
  color color_green

.theme-staff
  color color_blue
  
.theme-followees
  color color_orange
  
.theme-orange
  color color_orange

.theme-gray
  color color_gray

.theme-blue
  color color_blue
  
.theme-green
  color color_green

.theme-orange
  color color_orange
 
body
  background #000000
body>div
    background inherit
    position relative
    width 100%
body>div.loading
    background inherit
    position absolute
    width 100%
    height 100%
    opacity 0
    z-index 0
    overflow auto
a
  color #f4f4f4
  text-decoration none
  &:hover
    text-decoration underline

span
  position relative
  letter-spacing 0.5px


h2
  font-size 26px
  line-height 48px
  font-weight 100

h3
  font-size 20px
  line-height 48px
  font-weight 100